body{
	background-color: tomato;
}


.sase option{
	color: chocolate;
	background-color: grey;
}


.sase select{
	color: tomato;
}


.no{
	color: blue;
}


.btns{
	position: relative;
}

.btns:active{
	top: 2px ;
}