body{
	margin: 0;
	padding: 0;
}


.navv{
	height: 75px;
	background-color: black;
}


.navv img{
	margin-left: 25px;
}


.navv ul{
	margin-left: 20%;
	font-size: 15px;
	margin-top: 15px;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 2px;
}


.navv a{
	color: white;
	text-decoration: none;
}


.navv li{
	margin-right: 50px;

}


.cool{
	display: inline-block;
}


.cool:after{
	content: '';
	display: block;
	width: 0%;
	height: 2px;
	background: linear-gradient(#E67207 0%, #EF4E7B 50%, #A166AB 90%);
	transition: .5s;
	margin: auto;

}


.cool:hover::after{
	width: 100%;
}


.tickets{
	width: 150px auto;
	position: relative;
	color: white;
	margin-left: 14%;
	padding: 10px;
	letter-spacing: 2px;
	font-weight: bold;
	border: 2px solid transparent;
	border-image: linear-gradient(to right, #E67207 0%, #EF4E7B 50%, #A166AB 100%);
	border-image-slice: 1;
	background-color: black;
	padding-bottom: 8px;
	margin-right: 5px;
	padding-bottom: 15px;
	
}


.tickets:after {
    content: '';
    position: absolute;
    left:0%;
    bottom: 6px;
    display: block;
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, #E67207 0%, #EF4E7B 50%, #A166AB 100%);
}


.tickets:hover {
  box-shadow: 0 7px 20px 0 rgba(145, 82, 222, .5);
  bottom: 3px;
}


.display{
	background-image: url(images/nightsky.jpg);
	background-size: cover;
	height: 700px;
	color: white;

}


.display h3{
	line-height: 40px;
	letter-spacing: 1px;
	font-weight: bold;
}

.display h2{
	font-size: 2.9em;
	letter-spacing: 19px;
   background-image: linear-gradient(to right, purple 25%, blue, orange 50%, lime 75%);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}
  



.display img{
	margin-top: 120px;
	width: 250px;
	height: 130px;
	margin-left: 490px;
}


.tickets_1{
	width: 150px auto;
	position: relative;
	color: white;
	margin-left: 44%;
	margin-top: 10px;
	padding: 10px;
	letter-spacing: 2px;
	font-weight: bold;
	border: 2px solid transparent;
	border-image: linear-gradient(to right, #E67207 0%, #EF4E7B 50%, #A166AB 100%);
	border-image-slice: 1;
	background-color: black;
	padding-bottom: 15px;
}


.tickets_1:after {
    content: '';
    position: absolute;
    left:0%;
    bottom: 6px;
    display: block;
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, #E67207 0%, #EF4E7B 50%, #A166AB 100%);
}


.tickets_1:hover{
	bottom: 3px;
  	box-shadow: 0 7px 20px 0 rgba(255, 92, 222, .5);
}


.event h3, h2{
	font-weight: bold;
	color: white;
	text-transform: uppercase;
}


.event h3{
	padding-top: 70px;
}


.table1{
	height: 300px;
	color: white;
	text-align: center;
	width: 420px;
	border-left: 3px solid white;
	padding: 60px;
	text-align: justify;
	line-height: 2em;
	letter-spacing: 1px;
}


.table1:after {
    content: '';
    position: absolute;
    left: 0%;
    bottom: 10px;
    display: block;
    width: 100%;
    height: 3px;
    background: #fff;
}


.parent{
	display: flex;
	border: 3px solid white;
	border-radius: 4px;
	font-size: 15px;
	margin-bottom: 100px;
	margin-top: 50px;
	position: relative;
}


.parent img{
	width: 20px;
	height: 20px;
	position: relative;
	margin-left: 3px;
}


.parent img:hover{
	left: 3px;
	cursor: pointer;
}


.parent a{
	text-decoration: none;
	text-transform: uppercase;
	color: white;
	font-size: 13px;
	letter-spacing: 1.3px;
}


.first, .second, .third{
	border: 2px solid white;
	border-radius: 3px;
	font-size: 16px;
	color: white;
	height: 350px;
	padding: 80px 45px;
	line-height: 1.8em;
}


.down {
	padding-top: 15px;
}


.spon{
	margin-top: 150px;
	margin-bottom: 70px;
}


.spon a{
	text-decoration: underline;
	color: black;
}


 .spon h3 {
  font-size: 2.7em;
  background: linear-gradient(to right, #A04000 10%, #85C1E9 60%, #1B4F72 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
  font-weight: bold;
}


.spon p{
	font-size: 17px;
}


.spon img{
	height: 40px;
	margin-left: 10px;
	margin-bottom: 15px;
}


.logoa img{
	height: 100px;
	width: 150px;
}


.one, .two, .three, .fourth{
	margin-bottom: 50px;
}


.comm h4 {
  font-size: 2.6em;
  background: linear-gradient(to right, #641E16 20%, #EF4E7B 50%, #145A32 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
  margin-top: 140px;
  font-weight: bold;
  letter-spacing: 1px;
}


.comm img{
	height: 40px;
	margin-left: 8px;
	margin-bottom: 15px;
}


.fifth{
	margin-top: 90px;
}


.sixth{
	margin-top: 50px;
	padding-bottom: 150px;
}


.gradient{
	background: linear-gradient(132deg,#3557EF, #641E16, #43EF35);
	background-size: 400% 400%;
	animation: BackgroundGradient 15s ease infinite;
}


@keyframes BackgroundGradient{
	0% { background-position: 0% 50%;}
	50% { background-position: 100% 50%;}
	100% { background-position: 0% 50%;}
}


footer{
	background-image: url(images/nightsky.jpg);
	background-size: cover;
	height: 600px;
}


footer h3{
	font-size: 3.2em;
  background: linear-gradient(to right, #145A32 5%, #BA4A00 30%, #17202A 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
  margin-top: 140px;
  font-weight: bold;
  letter-spacing: 13px;
  display: inline-block;
}


footer img{
	margin-top: 99px;
	margin-right: 30px;
}


footer ul {
	font-size: 15px;
	letter-spacing: 2px;
	line-height: 2.1em;
	list-style-type: none;
	text-transform: uppercase;
	color: white;	
	margin-top: 15px;
	margin-left: 85px;
	font-weight: bold;
	display: inline-block;
}


.rig{
	color: white;
	margin-top: 15px;
	font-size: 15px;
	text-transform: uppercase;
	font-weight: bold;
}


.rig a{
	margin-left: 23px;
	text-transform: lowercase;
	font-size: 15px;
	color: white;
	text-decoration: none;
	font-weight: bold;
}


.rig p{
	letter-spacing: 1px;
}


li:hover{
	color: dimgrey;
	cursor: pointer;
}


.rig a:hover{
	color: dimgrey;
}


.rig p:nth-child(4):hover{
	color: dimgrey;
	cursor: pointer;
}


.rig p:nth-child(4){
	display: inline-block;
}


.form-input{
    display: block;
    background-color: #22292C;
    width: 80%;
    height: 47px;
    border: 1px solid white;
    border-radius: 4px;
    color: white;
    margin-top: 15px;
    margin-right: 15px;
}


.inp:after {
    content: '';
    position: absolute;
    bottom: 6px;
    display: block;
    width: 75.8%;
    height: 1px;
    background: #fff;
}


.inp h4{
	font-size: 19px;
	letter-spacing: 1px;
	color: white;
	font-weight: bold;
	text-transform: uppercase;
}


.bottom{
	opacity: .7;
	height: 100px;
	background-color: black;
	margin-top: 150px;
}


input[type='email'] {
      padding-left: 25px;
}


input::-webkit-input-placeholder{
color: #ABB2B9 !important;
}


  
@keyframes slide-up {
  
  from {
    padding-top: 130px;
    opacity: .25;
    line-height: 80px;
  }

  to {
    padding-top: 0;
    opacity: 1;
    line-height: 35px;
  }

}
  

.slide-up {
  animation: slide-up 2s;
}



.element-to-hide{
    visibility:hidden; 
} 


.slide {
    visibility: visible;
    animation-name: slide;
    -webkit-animation-name: slide;
    animation-duration: 2s;
    -webkit-animation-duration: 2s;
    animation-timing-function: ease-in-out;
    -webkit-animation-timing-function: ease-in-out; 
}


.bot img{
	height: 80px;
	margin-right: 45px;
}




