
body{
	background-image: url(images/background.png);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: right;
	padding: 0;
	margin: 0;
	
}

.navbar-brand{
	padding: 0;
	margin: 0;
}


.navv{
	padding-bottom: 50px;
	opacity: .9;
}

.navv img{
	width: 100px;

}

.navv h3{
	float: right;
	color: #F5DEB3;
	padding-left: 40px;
	font-family: 'Just Another Hand', cursive;
	font-size: 40px;
	font-weight: bold;
	letter-spacing: 6px;
}



.display{
	background-image: url(images/display.jpg);
	background-size: cover;
	height: 900px;
	padding-top: 350px;
	margin-top: 85px;
	font-family: sans-serif;
	font-size: 50px;
	color: #7B241C;
}


.display h2{
border: 5px solid white;
text-align: center;
padding: 5px 10px 5px 10px;
font-family: 'Roboto';
font-weight: bolder;
color: white;

}


.btn{
	margin-right: 150px;
	font-size: 15px;
	background-color: #212F3C;
	color: #979A9A;
	text-align: center;
}

.btn:hover{
	color: tomato;
}



.btn li a{
	color: tomato;
	background-color: #212F3C;
}

.btn li a:hover{
	background-color: #C0392B;
}

.btn ul{
	background-color: #212F3C;
}





.categories{
	margin-top: 25px;
	font-family: 'Just Another Hand', cursive;
}


.living_area{
	background-image: url(images/interior.jpg);
	background-size: cover;
	height: 350px;
	padding-top: 250px;
	color: #A0522D;
	cursor: pointer;
}

.living_area:hover{
	background-image: url(images/interior11.jpg);
	

}

.dining_room{
	background-image: url(images/interior1.jpg);
	background-size: cover;
	height: 350px;
	padding-top: 30px;
	color: #6B8E23;
	cursor: pointer;
}

.dining_room:hover{
	background-image: url(images/interior22.jpg);
}

.bedroom{
	background-image: url(images/interior2.jpg);
	background-size: cover;
	height: 350px;
	padding-top: 100px;
	color: #808000;
}

.bedroom:hover{
	background-image: url(images/interior23.jpg);
	cursor: pointer;
}


hr{
	width: 420px;
	border-color: lime;
}


.clients{
	color: #ADFF2F;
	font-family: 'Indie Flower', cursive;
	background-color: #2C3E50;
}

.clients footer {
	color: #ADFF2F;
}


.crew{
	text-align: center;
	margin-top: 20px;
	color: coral;
}

.first{
	height: 150px;
	width: 150px;
}


.all h5{
	font-family: 'Clicker Script', cursive;
	color: #F60514;
	background-color: #808B96;
	opacity: 0.9;
	text-align: justify-all;
	text-decoration: underline;
	font-size: 15px;
}


.down{
	margin-top: 25px;
}

.fo img{
	opacity: 0.2;
	height: 400px;
	margin-top: 50px;
}

.fo img:hover{
    opacity: 1.0;
    width: 80%;
}


.multi{
	margin-top: 70px;

}

.multi img{
	height: 120px;
	width: 120px;
	opacity: 0.7;
	margin-top: 10px;

}


.multi img:hover{
	opacity: 1.0;

}

.btn{
	padding-left: 65px;
	margin-top: 10px;
}


.footer{
	height: 300px;
	background-color: rgba(123, 125, 125,0.8);
	margin-top: 50px;
	color: #6E2C00;
}


.sli{
	margin-top: 90px;
}


#first {
    
    background-color: green;

}


.click{
	position: relative;
	margin-left: 18px;
}

.click:active{
	top: 3px;
}

.footer p{
	background-color: green;
	font-size: 15px;
	color: black;
	text-align: center;
	font-family: 'Open Sans';
	text-align: justify;

}


.footer button{
	text-align: center;
	padding: 10px;
	color: red;


}

.footer img{
	width: 256px;
	float: left;
	margin-top: 9px;
}

.footer h4{
	clear: left;
	padding: 13px 0 0 12px;
	color: ghostwhite;
}


.logos img{
	height: 40px;
	margin: 21px;
}


.logos{
	margin-top: 50px;
	color: lime;
	background-color: rgba(123, 125, 125,0.8);
	padding-top: 15px;
}

.logos img:hover{
	opacity: 0.8;
	cursor: no-drop;
}


.logos a:nth-child(4){
	background-color: blue;  
} 
/*bezveze napraveno onaka samo kolku da go povikam:)*/



/*Front-End RULES!!! :)*/